<div class = "col-md-6 offset-md-3">
    <form (ngSubmit) = "onSubmit()">
        <div class = "from-group">
            <label>Name: </label>
            <input type = "text" class = "form-control" id = "name" [(ngModel)] = "patient.name" name = "name">
        </div>
        <div class = "from-group">
            <label>Date of Visit: </label>
            <input type = "date" class = "form-control" id = "dateOfVisit" [(ngModel)] = "patient.dateOfVisit" name = "dateOfVisit">
        </div>
        <div class = "from-group">
            <label>Doctor: </label>
            <select class = "form-control" id = "visitedDoctor" [(ngModel)] = "patient.visitedDoctor" name = "visitedDoctor">
                <option [ngValue]="undefined" selected disabled>Select Doctor</option>
                <option *ngFor = "let doctor of doctors">{{doctor.name}}</option>
            </select>
        </div>
        <br />
        <button class = "btn btn-success" type = "submit">Submit</button>
    </form>
</div>
