<div class = "container">
    <div class="row">
        <div class="column">
            <a href = "doctors">
                <div class="card">
                    <span style='font-size:100px;'>👨‍⚕️</span>
                </div>
            </a>
        </div>
        <div class="column">
            <a href = "patient-login">
                <div class="card">
                    <span style='font-size:100px;'>😷</span>
                </div>
            </a>
        </div> 
    </div>
</div>
